body  {
    font-family: 'Roboto', sans-serif;
}

#first-bgc {
    background-color: #1f2937;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
}

.header-logo {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
    padding: 12px;
    margin-bottom: 75px;
}

ul {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    list-style-type: none;
    gap: 20px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    padding-bottom: 0px;
    margin-bottom: 0px;;
}

p {
    color: #e5e7eb;
    font-size: 18px;
    padding-top: 0px;
    margin: 0px;
}


.main-text {
    display: flex;
    justify-content: space-around;
}

.img {
    margin-bottom: 32px;
    width: 330px;
    height: 300px;
    padding-inline: 20px;;
}

#btn {
    background-color: #3382f6;
    color: #f9faf8;
    border-radius: 15px;
    height: 35px;
    width: 100px;
}

#snd-bgc {
    background-color: #f9faf8;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.ul-container {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    margin-bottom: 50px;
    
}

.li {
    color: #1f2937;
}

.box {
    display: flex;
    width: 150px;
    height: 120px;
    border: solid #3382f6;
}

#thrd-bgc {
    background-color: #e5e7eb;
    text-align: center;
    padding: 50px;
    display: block;
}

.p {
color: #1f2937;
font-style: italic;
font-size: 36px;
font-weight: lighter;

}

.tgt {
    font-weight:bold;
    font-size:large;
    color: #1f2937; 
    
}

#fth-bgc {
    background-color: #3382f6;
    color: #e5e7eb;
    margin: 50px;
    padding: 40px;
    border-radius: 24px;
    display: block;
    text-align: center;
}

footer {
    text-align: center;
    background-color: #1f2937;
    padding: 60px;
}